html, body, title, script, body, ul, ol, h1, h2, h3, p,
a, img, li, form, label, table, aside, figure, figcaption,
footer, header, section {

  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: inherit;

}
